html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: tan;
}

.emoji-flower-bed {
    width: 70%; 
    min-height: 60vh;
    margin: auto;
    margin-top: 2em;
    padding-left: 0;
    border: 10px solid green;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgreen;
    padding: 1em; 
    border-radius: 5px;
}
.emoji-flower-bed li {
    list-style-type: none;
    font-size: 2.5em;
    padding: 2px;
}