html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  background: red;
  align-items: center;
  justify-content: center;
}

.emoji-slots-game {
  padding-left: 0;
  min-width: 90%;
  min-height: 60%;
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: white;
  border: 12px solid gold;
}

.emoji-slots-game li {
  list-style-type: none;
  font-size: 3em;
  display: flex;
  flex-basis: 33.3333333%;
  justify-content: center;
}
